# Connect To DB

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql mysql://root@localhost:3306/HogwartzAccounting?local_infile=1

# Insert `PERSON`

In [11]:
%%sql
LOAD DATA LOCAL INFILE 'MOCK_DATA_PERSON.csv' 
INTO TABLE PERSON 
FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

 * mysql://root@localhost:3306/HogwartzAccounting?local_infile=1
400 rows affected.

[]