# Connect To DB

In [1]:
%load_ext sql
%sql mysql://root@localhost:3306/HogwartzAccounting?local_infile=1

# Find Student Debt To University

In [56]:
studentid = 41

In [74]:
%%sql
SELECT

(
    -- amount owed by student
    SELECT SUM(COURSE_COST) FROM COURSE WHERE COURSE_ID IN (
        SELECT COURSE_ID FROM STUDENT_COURSE WHERE STUDENT_ID = {studentid}
    )
)
- 
(
    -- amount payed by student to university
    SELECT SUM(AMOUNT) FROM BANK_TRANSFER WHERE PERSON_ID = {studentid} AND OUTGOING = 0
)
+ 
(
    -- amount payed by university to student
    SELECT SUM(AMOUNT) FROM BANK_TRANSFER WHERE PERSON_ID = {studentid} AND OUTGOING = 1
) AS STUDENT_DEBT

 * mysql://root@localhost:3306/HogwartzAccounting?local_infile=1
1 rows affected.

[(Decimal('1056.07'),)]

# Find University Debt To Professor (Professor Credit)

In [88]:
professorid = 396

In [90]:
%%sql
SELECT

(
    -- amount owed by university
    SELECT SUM(PROFESSOR_PAY) FROM COURSE WHERE COURSE_ID IN (
        SELECT COURSE_ID FROM STUDENT_COURSE WHERE STUDENT_ID = {studentid}
    )
)
- 
(
    -- amount payed by university to professor
    SELECT SUM(AMOUNT) FROM BANK_TRANSFER WHERE PERSON_ID = {professorid} AND OUTGOING = 1
)
+ 
(
    -- amount payed by professor to university
    SELECT SUM(AMOUNT) FROM BANK_TRANSFER WHERE PERSON_ID = {professorid} AND OUTGOING = 0
) AS PROFESSOR_CREDIT

 * mysql://root@localhost:3306/HogwartzAccounting?local_infile=1
1 rows affected.

[(Decimal('920.26'),)]